@import url('https://fonts.googleapis.com/css?family=RobotoSlab');

.tidbit {
   width: 300px;
   font-family: RobotoSlab, sans-serif;
   font-size: 16px;
   padding: 10px;
   margin-bottom: 20px;
}

.nature {

}

.title {
   font-weight: normal;
   font-size: 64px;
   color: #4a4a4a;
   text-align: right;
}

.title2 {
   font-weight: bold;
   font-size: 36px;
   line-height: 0.83;
   color: #4a4a4a;
   text-align: center;
}

.lead {
  font-size: 20px;
  color: #4a4a4a;
  background: #ffb6c1;
}

.link {
   color: #4a4a4a;
}

.more {
   font-size: 14px
   font-weight: normal;
   line-height: 1.5;
   color: #4a90e2;
   text-decoration: none;
}

.lead-alt,
.short p {
   font-size: 36px;
   font-weight: bold;
   color: #4a4a4a;
   background: #ffeb3b;
}
